<!DOCTYPE html>
<html>
  <head>
    <title>Response Page</title>
  </head>
  <body>
    <h1>Response</h1>
    <div>
      <h2>Cluster Questions:</h2>
      <pre><%= clusterQuestions %></pre>
    </div>
    <div>
      <h2>Replies:</h2>
      <pre><%= replies %></pre>
    </div>
  </body>
</html>
